html,body{
  height: 100%;
}

#main{
  height: 80%;
}

#bar{
  border: 1px solid grey;
  height: 20%;
}

#blocks {
  border: 1px solid grey;
}

#blocksArea {
  height: 30%;
  border: 1px solid grey;
}

#transArea {
  height: 70%;
  border: 1px solid grey;
}

#network {
  border: 1px solid grey;
}
